@model IEnumerable<MyPersonalWebsite.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<!-- Add the search form here -->
<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-4 fade-in">
            <div class="product-card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"><strong>Price:</strong> @Html.DisplayFor(modelItem => item.Price)</p>
                    <p class="card-text"><strong>Seller:</strong> @Html.DisplayFor(modelItem => item.Seller.Name)</p>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
